*.txt
*.xml
*.json
*.xlsx
*.suo
*.zip
/packages
/炉石设计/Fleck-master
/炉石设计/lhgdialog
/炉石设计/Misc
/炉石设计/jquery-ui-1.11.0.custom
/炉边传说/bin
/炉边传说/obj
/炉边传说/packages
/炉边传说/炉边传说.sln.ide
/Engine/bin
/Engine/obj
/HearthStone/bin
/HearthStone/obj
/HearthStone/Scripts
Thumbs.db
!/炉边传说/Html/Image/BackGround.jpg
!/炉边传说/Html/Image/FireBall.jpg
!/炉边传说/Html/Image/Hero.jpg
!/炉边传说/Html/Image/Weapon.jpg
!project.json