@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// Layout = "/Views/Shared/_Layout.cshtml";
// ViewBag.Title = "Home Page";
}
<p>Hero</p>
@Html.EditorForModel();
